@import url(https://fonts.googleapis.com/css?family=Average);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC);

// colors
$bg-primary: #f8df36;
$darkblue:   #2A7D7D;
// textures
$bg-texture-odd:     url("../img/rice-paper.png");
$bg-texture-even:    url("../img/skulls.png");
$bg-navbar:          url("../img/rice-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
//fonts
$title-font: 'IM Fell English SC', serif;
$text-font:  'Average', serif;
$nav-font:   'Oswald', sans-serif;

body {
  font-family: $title-font;
  font-size: 18px;
  line-height: 1.8em;
  background-color: $bg-primary;
  padding-top: 50px;
  padding-bottom: 20px;
}

p {
  font-family: $text-font;
  font-size: 18px;
}

.collapse {
     background-color: $bg-primary;
     background-image: $bg-texture-odd;
}

section {
  height: 1000px;
  position: relative;
  margin: auto !important;
  padding: 30px;
  padding-top: 60px;
  text-align: center;
}

#about {
  p {
    margin-top: 30px;
  }
}
#projects {
  height: 2000px;
  p {
    text-align: justify;
  }
}

footer {
  color: #2A7D7D;
  text-align: center;
  a {
    color: #6fb7b6;
    text-decoration: underline;
  }
}

h1 {
  text-align: center;
  color: $darkblue;
}

h3 {
  color: $darkblue;
}

li {
  list-style: none;
  display: inline-block;
}


#about {
  background-image: $bg-texture-odd;
}

#skills {
  background-image: $bg-texture-even;
  div {
    display: inline-block;
  }
}

#projects {
  background-image: $bg-texture-odd;
}

#contact {
  background-image: $bg-texture-even;
}

.icons {
  font-size: 44px;
  padding: 10px;
}

.nav-modifications {
  padding: 15px;
  display: inline-block;
  background-color: $bg-primary !important;
  li {
    margin: 0;
    line-height: 1;
    padding: 0;
    display: inline;
    position: relative;
    margin: 0 0px;
  }
  a {
    display: inline-block;
    padding: 5px;
    position: relative;

    font-family: $nav-font;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 2px rgba(0, 0, 0, .2);

    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    -ms-transition: color .3s linear;
    transition: color .3s linear;
  }

  a:hover {
    color: #eae8a5;
  }
}

nav {
  background-image: $bg-navbar;
}
